<!DOCTYPE html>
<html lang="en">
<body>
  <!-- Trailer Video Modal -->
  <div class="modal" id="trailer">
    <div class="modal-dialog">
      <div class="modal-content">
        <a href="#" class="hanging-close" data-dismiss="modal" aria-hidden="true">
          <img src="https://lh5.ggpht.com/v4-628SilF0HtHuHdu5EzxD7WRqOrrTIDi_MhEG6_qkNtUK5Wg7KPkofp_VJoF7RS2LhxwEFCO1ICHZlc-o_=s0#w=24&h=24"/>
        </a>
        <!-- Movie Trailer Window -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title trailer-title"></h2>
          </div>
          <div class="panel-body">
            <div class="scale-media" id="trailer-video-container">
            </div>
            <!-- Statistics Section -->  
            <div class="table-responsive">   
              <table class="table">
                <tr>
                  <td>
                    <p class="trailer-rated">
                      <h5>Rated</h5>
                    </td> 
                    <td>
                      <p class="trailer-rating">
                        <h5>Ratings</h5>
                      </td>
                      <td>
                        <p class="trailer-votes">
                          <h5>Votes</h5>
                        </td>
                        <td>
                          <p class="trailer-year">
                            <h5>Year</h5>
                          </td>
                          <td>
                            <p class="trailer-runtime">
                              <h5>Runtime</h5>
                            </td>
                            <td>
                              <p class="trailer-boxoffice">
                                <h5>Boxoffice</h5>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <hr>
                        <!-- Movie Trailer -->  
                        <p class="trailer-storyline">
                        </p>
                        <hr>
                        <!-- Additional Info -->  
                        <div>
                          <strong>Genre: </strong>
                          <p class="trailer-genre">
                          </div>
                          <div>
                            <strong>Director: </strong>
                            <p class="trailer-director">
                            </div>
                            <div>
                              <strong>Actors: </strong>
                              <p class="trailer-actors">
                              </div>
                              <div>
                                <strong>Awards: </strong>
                                <p class="trailer-awards">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Main Page Content -->
                      <div class="container">
                        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                          <div class="container">
                            <div class="navbar-header">
                              <a class="navbar-brand" href="#">
                                <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                                Selene's Movie Trailers Project
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="container">
                        <div class="jumbotron">
                          <h1>
                            Movie Trailer Website
                          </h1>
                          <p>
                            Hi! Here's my selection of movie trailers. 
                            Click on any movie thumbnail to display its trailer, plot and movie trivia.
                          </p>
                        </div>
                        {movie_tiles}
                      </div>
                    </body>
                    </html>
