<div class="col-md-6 col-lg-4 movie-tile text-center" 
data-trailer-youtube-id="{trailer_youtube_id}" 
data-title-id="{movie_title}" 
data-storyline-id="{movie_storyline}"   
data-awards-id="{movie_awards}"
data-director-id="{movie_director}"
data-genre-id="{movie_genre}"
data-boxoffice-id="{movie_boxoffice}"
data-rated-id="{movie_rated}"
data-rating-id="{movie_rating}"
data-runtime-id="{movie_runtime}"
data-year-id="{movie_year}"
data-votes-id="{movie_votes}"
data-actors-id="{movie_actors}"
data-toggle="modal" 
data-target="#trailer">
    <div class="thumbnail">
        <img class="movie_poster" src="{poster_image_url}"> 
        <h4>{movie_title}</h4>
    </div>
</div>
